[submodule "sdks/cdd-c"]
	path = sdks/cdd-c
	url = https://github.com/SamuelMarks/cdd-c
[submodule "sdks/cdd-cpp"]
	path = sdks/cdd-cpp
	url = https://github.com/SamuelMarks/cdd-cpp
[submodule "sdks/cdd-csharp"]
	path = sdks/cdd-csharp
	url = https://github.com/SamuelMarks/cdd-csharp
[submodule "sdks/cdd-go"]
	path = sdks/cdd-go
	url = https://github.com/SamuelMarks/cdd-go
[submodule "sdks/cdd-java"]
	path = sdks/cdd-java
	url = https://github.com/SamuelMarks/cdd-java
[submodule "sdks/cdd-kotlin"]
	path = sdks/cdd-kotlin
	url = https://github.com/offscale/cdd-kotlin
[submodule "sdks/cdd-php"]
	path = sdks/cdd-php
	url = https://github.com/SamuelMarks/cdd-php
[submodule "sdks/cdd-python"]
	path = sdks/cdd-python
	url = https://github.com/offscale/cdd-python-all
[submodule "sdks/cdd-ruby"]
	path = sdks/cdd-ruby
	url = https://github.com/SamuelMarks/cdd-ruby
[submodule "sdks/cdd-rust"]
	path = sdks/cdd-rust
	url = https://github.com/SamuelMarks/cdd-rust
[submodule "sdks/cdd-sh"]
	path = sdks/cdd-sh
	url = https://github.com/SamuelMarks/cdd-sh
[submodule "sdks/cdd-swift"]
	path = sdks/cdd-swift
	url = https://github.com/SamuelMarks/cdd-swift
[submodule "sdks/cdd-ts"]
	path = sdks/cdd-ts
	url = https://github.com/offscale/cdd-ts
